@import 'variable';

/* to use rem size font 1rem is 10px */
html {
	font-size: 62.5%;
}
body {
	background-color: blue;
	#message {
		height: 50px;
		width: 50px;
		background-color: $tilleul;
		color: #000;
	}
}