@import 'variable';
@import 'enleveconnect';
@import 'loader';

/* to use rem size font 1rem is 10px */
html {
	font-size: 62.5%;
}
body {
	background-color: $white;
	font-family: 'Open Sans', sans-serif;
}
a {
	&:hover, &:active, &:focus {
		text-decoration: none;
		cursor: pointer;
	}
}

.home-page {
	height: 100vh;
	width: 100%;
	position: relative;
	.connect {
		position: absolute;
		z-index: 1;
		font-size: 3rem;
		top: 1rem;
		right: 1rem;
		.fa {
			color: $green-water;
		}
	}
	.top-home-page {
		position: absolute;
		top: 0;
		width: 100vw;
		.logo {
			padding-top: 4rem;
			max-width: 10rem;
		}
		.connect {
			float: right;
			font-size: 5rem;
		}
	}
	.btm-home-page {
		position: absolute;
		bottom: 0;
		width: 100vw;
		p {
			margin: 4rem; 
		}
	}
	.inside-home-page {
		height: 100%;
		width: 50%;
		display: flex;
		flex-direction: column;
		justify-content: center;
		float: left;
		padding: 2rem;
	}
	.left-bg {
		background-color: $green-water;
		a {
			color: $green-water;
			background-color: $white;
			border-radius: 0.4rem;
			transition: background-color 0.7s;
			&:hover, &:active, &:focus {
				background-color: $tilleul;
			}
		}
	}
	.right-bg {
		a {
			color: $white;
			background-color: $green-water;
			border-radius: 0.4rem;
			transition: background-color 0.7s;
			&:hover, &:active, &:focus {
				background-color: $tilleul;
			}
		}
	}
}

.header-signal {
	padding-top: 0.8rem;
	min-height: 10rem;
	width: 100vw;
	font-size: 1.6rem;
	color: $green-water;
	.row {
		margin-top: 0.5rem;
		.col-xs-2 {
			a {
				color: $green-water;
				font-size: 2rem;
			}
		}
		.col-xs-8 {
			margin-bottom: 1.8rem;
			line-height: 2.8rem;
		}
		.col-xs-12 {
			a {
				background-color: $white;
				font-size: 1.6rem;
				color: $green-water;
				padding: 0.1rem 1rem;
				margin: 0.5rem -0.5rem;
				box-sizing: border-box;
				transition: background-color 0.7s, color 0.7s;
				&:hover {
					background-color: $green-water;
					color: $white;
				}
			}
			.left {
				border: 0.1rem solid $green-water;
				border-radius: 0.4rem 0rem 0rem 0.4rem;
			}
			.central {
				border: 0.1rem solid $green-water;
				/* margin: 1rem -0.5rem; */
			}
			.right {
				border: 0.1rem solid $green-water;
				border-radius: 0rem 0.4rem 0.4rem 0rem;
			}
		}
	}
}

#mapholder {
	height: 79vh !important;
	width: 100vw !important;
	position: relative;
}

.signal-input {
	height: 3.4rem;
	position: absolute;
	bottom: 1.5rem;
	left: 21%;
	border-radius: 0.4rem;
	background-color: $green-water;
	color: $white;
}

.contest {
	width: 10rem;
	height: 10rem;
	background-color: blue;
}